* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --White : hsl(0, 0%, 100%);
    --LightGrayishViolet : hsl(279, 6%, 55%);
    --VeryDarkViolet : hsl(278, 68%, 11%);

    --RedInputErrors : hsl(0, 100%, 66%);
}
html {
    font-size: 62.5%;
    font-family: 'Space Grotesk', sans-serif;
}

.background-section {
    background-image: url(./images/bg-main-mobile.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 33vh;
    width: 100%;
    min-width: 375px;
    position: relative;
}

.card-back {
    width: 300px;
    position: absolute;
    right: 15px;
    top: 25px;
    max-width: 425px;
}
.card-back__num {
    color: var(--White);
    position: absolute;
    top: 100px;
    right: 51px;
}

.card-front {
    width: 300px;
    position: absolute;
    left: calc(100% - 97%);
    top: 118px;
    max-width: 425px;
}
.card-logo {
    top: 130px;
    position: absolute;
    left: 22px;
    width: 64px;
}
.card-logo__number {
    top: 206px;
    position: absolute;
    left: 38px;
    color: var(--White);
    font-size: 1.9rem;
    letter-spacing: .2rem;
}
.card-logo__name {
    color: var(--White);
    top: 250px;
    position: absolute;
    left: 37px;
    text-transform: uppercase;
    letter-spacing: .2rem;
}
.card-logo__exp {
    color: var(--White);
    top: 250px;
    position: absolute;
    left: 254px;
}
.card-figures-content {
    max-width: 400px;
    height: 33vh;
    width: 100%;
    min-width: 375px;
    position: relative;
    margin: 0 auto;
}
.content-section {
    margin-top: 120px;
    margin-left: 20px;
    margin-right: 20px;
    display: block; 
    text-align: center;   
}
form {
    display: flex;
    flex-direction: column; 
    max-width: 500px;
    margin: auto;
}
.card-data-content-general {
    margin-top: 10px;
    margin-bottom: 35px;
}
.card-data-label {
    text-transform: uppercase;
    color: var(--VeryDarkViolet);
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.5rem;
    letter-spacing: .1rem;    
}
#name, #cardNumber {
    margin-bottom: 30px;
}
input {
    padding: 14px;
    border: solid 1px var(--LightGrayishViolet);
    border-radius: 5px;
    font-size: 1.8rem;
    letter-spacing: .1rem;
    color: var(--VeryDarkViolet);
    font-weight: bold;
}
input::placeholder {
    color: var(--LightGrayishViolet);
    font-weight: 500;
    letter-spacing: .1rem;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1.8rem;
}
input:focus {
    border: 0.2rem solid var(--LightGrayishViolet);
}
.content-number-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
.numbers-inputs {
    width: 71px;
}
.numbers-inputs:last-child {
    width: 139px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; 
}

.errors{
    color: var(--RedInputErrors);
    position: absolute;
    font-weight: bold;
    bottom: 142px;
}

.btn {
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
    border: solid 1px transparent;
    letter-spacing: .1rem;
    color: var(--White);
    background-color: var(--VeryDarkViolet);
    width: 100%;
    margin-bottom: 50px;
}
/*section complete*/
.complete-section {
    display: block;
    text-align: center;
    margin-top: 120px;
    margin-left: 20px;
    margin-right: 20px;
}
.thank-you {
    font-size: 4rem;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 20px;
    color: var(--VeryDarkViolet);
}
.added-card {
    font-size: 2.2rem;
    color: var(--LightGrayishViolet);
    margin-bottom: 50px;
}
.errorsdate {
    color: var(--RedInputErrors);
    position: absolute;
    bottom: 24px;
    font-weight: bold;
}
.errorInputRed {
    border: 0.2rem solid var(--RedInputErrors);
}
/*Mostrar Ocultar*/
.mostrar {
    display: block;
}
.ocultar {
    display: none;
}